.Sprite {
  display: none;
}

.admin-bar header {
  top: 46px;
}

.admin-bar header.short {
  top: 0;
}

@media (min-width: 601px) {
  .admin-bar header,
  .admin-bar header.short {
    top: 46px;
  }
}

@media (min-width: 783px) {
  .admin-bar header,
  .admin-bar header.short {
    top: 32px;
  }
}

.homepage__hero .wrapper .homepage__hero_logo img,
.homepage__why .homepage__why_image img,
.homepage__about .homepage__about_details .wrapper .details--wrapper .details--image img,
.article .article__head img,
.article .article__details img {
  height: auto;
}

.homepage__clients .wrapper img {
  width: auto;
}

.homepage__clients .wrapper a {
  display: inline-block;
  font-size: 0;
}

.article .article__details p {
  margin-bottom: 1em;
}

.article .article__details blockquote p {
  opacity: 1;
}

.blog main {
  position: relative;
}

.loader {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.25);
}

.loader.-visible {
  display: flex;
}

/* CSS Loader */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header__nav-item.-active .header__nav-link {
  font-weight: 700;
  color: #f05b5d!important;
  opacity: 1;
}

.header__nav-item.-active .header__nav-link span {
  color: inherit;
}

.technology .technology__list .technology__item .technology__item_image img {
  height: auto;
}

.technology__list .technology__item .technology__item_details p:not(:last-of-type) {
  margin-bottom: 2em;
}

.technology .technology__developed p:not(:last-of-type) {
  margin-bottom: 1em;
}

.solutions .solutions__list .wrapper ul .solutions__list_item a span {
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #f05b5d;
  text-align: center;
}

.solutions .solutions__description .solutions__description_item .item--image,
.solutions .solutions__description .solutions__description_item .item--image-mobile {
  height: auto;
}

.solutions .solutions__description .solutions__description_item.apps .wrapper .item--image {
  width: auto;
}

.solutions .solutions__description .solutions__description_item .wrapper .item--details p:not(:last-of-type) {
  margin-bottom: 2em;
}

.solutions .solutions__description .solutions__description_item .wrapper .item--details p:last-of-type {
  margin-bottom: 1em;
}

.solutions .solutions__model .solutions__model-image, .solutions .solutions__model img {
  height: auto;
}

.solutions .solutions__prices .wrapper .solutions__prices_item .item--body p {
  margin-bottom: 1em;
}

footer a.external {
  margin-top: 2em;
}

.wpcf7 form .wpcf7-response-output,
.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.sent .wpcf7-response-output {
  text-align: center;
  border-color: transparent;
}

.form-control input.wpcf7-not-valid {
  margin-bottom: 5px;
}

.form-control textarea.wpcf7-not-valid {
  margin-bottom: 0;
}

.wpcf7-not-valid-tip {
  margin-bottom: 24px;
}

.homepage .homepage__functional .homepage__functional_list .wrapper {
  padding-bottom: 38px;
}

.homepage__functional .homepage__functional_list .wrapper ul li:last-child {
  margin-bottom: 62px;
}

@media (max-width: 720px) {
  .homepage .homepage__functional .homepage__functional_list .wrapper {
    padding-bottom: 16px;
  }

  .homepage__functional .homepage__functional_list .wrapper ul li:last-child {
    margin-bottom: 68px;
  }
}
